 <?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="microsoft-teams.install" version="1.5.00.31168"/>
	<package id="7zip.install" version="22.1"/>
	<package id="python" version="3.11.0"/>
	<package id="git.install" version="2.38.1"/>
	<package id="gimp" version="2.10.32.1"/>
	<package id="thunderbird" version="102.5.1"/>
	<package id="spotify" version="1.2.0.1165"/>
	<package id="office365proplus" version="15330.20231"/>
	<package id="wireshark" version="4.0.2"/>
	<package id="virtualbox" version="7.0.4"/>
	<package id="advanced-ip-scanner" version="2.5.4594.1"/>
	<package id="crystaldiskinfo" version="8.17.13"/>
	<package id="audacity" version="3.2.1"/>
	<package id="steam" version="2.10.91.91221129"/>
	<package id="github-desktop" version="3.1.2"/>
	<package id="obs-studio.install" version="28.1.2"/>
	<package id="telegram" version="4.4.1"/>
	<package id="eclipse" version="4.26"/>
	<package id="nmap" version="7.93"/>
	<package id="bitwarden" version="2022.11.0"/>
	<package id="shotcut" version="22.11.25"/>
	<package id="wireguard" version="0.5.3"/>
	<package id="hwmonitor" version="1.48.0.20221202"/>
	<package id="git.portable" version="2.38.1"/>
	<package id="vmwareworkstation" version="17.0.0.20800274"/>
	<package id="msiafterburner" version="4.6.4.20211212"/>
	<package id="notion" version="2.0.38"/>
	<package id="authy-desktop" version="2.2.1"/>
	<package id="recuva" version="1.53.1087"/>
	<package id="megasync" version="4.7.3.0"/>
	<package id="mousewithoutborders" version="2.2.1.327"/>
	<package id="glasswire" version="3.0.476"/>
	<package id="termius" version="7.53.0"/>
	<package id="realtek-hd-audio-driver" version="2.82.0020200601"/>
	<package id="gns3" version="2.2.35.1"/>
	<package id="vscode" version="1.74.0"/>
	<package id="reaper" version="6.71"/>
	<package id="discord" version="1.0.9005"/>
	<package id="teamviewer" version="15.36.9"/>
</packages>